<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <arg name="standalone" default="true" />

  <arg name="rosbag_remap" default="false" />
  <arg unless="$(arg rosbag_remap)" name="suf" value=""/>
  <arg     if="$(arg rosbag_remap)" name="suf" value="_"/>

  <!-- will it run using GNU debugger? -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="manager" default="$(arg UAV_NAME)_edge_detector_manager" />
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg name="num_worker_threads" value="8"/>
  <!-- <env name="LD_PRELOAD" value="/usr/lib/x86_64-linux-gnu/libasan.so.5" /> -->

  <arg name="world_frame_id" default="$(arg UAV_NAME)/rtk_origin" />

    <!-- Namespace -->
  <group ns="$(arg UAV_NAME)">

    <!-- LidarTracker nodelet -->
    <node pkg="nodelet" type="nodelet" name="lidar_tracker" args="$(arg nodelet) lidar_tracker/LidarTracker $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug) " output="screen">

      <param name="uav_name" value="$(arg UAV_NAME)" />
      <!-- Parameters loaded from launch file -->
      <param name="static_frame_id" type="string" value="$(arg world_frame_id)"/>

      <!-- ROS parameters config file -->
      <rosparam file="$(find lidar_tracker)/config/tracking.yaml" />

      <!-- Subscribers -->
      <remap from="~points_in" to="os_cloud_nodelet/points" />
      <remap from="~detections_in" to="vofod/detections$(arg suf)" />
      <remap from="~bg_points_in" to="vofod/background_pc$(arg suf)" />
      <remap from="~rangefinder_in" to="mavros/distance_sensor/garmin" />
      <remap from="/clicked_point" to="DISABLE" />

      <!-- Publishers -->
      <remap from="~fitted_plane" to="~ground_removal/fitted_plane$(arg suf)" />
      <remap from="~filtered_points" to="~filtered_points$(arg suf)" />
      <remap from="~tracked_drone" to="~tracked_drone$(arg suf)" />
      <remap from="~tracked_drone_points" to="~tracked_drone_points$(arg suf)" />
      <remap from="~tracks" to="~tracks$(arg suf)" />
      <remap from="~dbg_tracks" to="~dbg_tracks$(arg suf)" />

    </node>

  </group>

</launch>
